.fieldset {
  width: 750px;
  height: auto;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #ccc;
}
.search{
  width: 50%;
}
.select {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.select select 
{
  width: 200px;
  margin-right: 10px;
  padding: 5px;
  height: 40px;
}

.name {
  width: 300px;
}

.button {
  background-color: #c72121;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search .button {
  margin-left: 10px;
}

.uhid {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-right: 19%;
  margin-top: 1%;
}

.uhid .MuiTextField-root {
  width: 150px;
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .MuiTextField-root {
  margin-right: 10px;
}

.email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.email .MuiTextField-root {
  width: 48%;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.link {
  text-align: end;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.container .button {
  width: 200px;
  height: 50px;
}

.container .button:hover {
  background-color: #010503;
}

.container .button:active {
  background-color: #8b918e;
}

.container .button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 170, 109, 0.5);
}








