fieldset {
    width: 800px;
    height: auto;
    align-items: center;
    margin: 0 auto; 
    /* width: fit-content;  */
  }
  .button{
    background-color: #04AA6D;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 10px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-left: 1%;
    border-radius: 10px;
  }

  .search input{
    width: 50%;
  }
  .uhid{
   text-align: right;
  }
  .select{
    text-align: left;
  }
  #name{
    width: 75%;
    margin-left: 1%;
  }
  .gender{
    text-align: left;
    margin-top: 2%;
  }
  #dateofbirth{
    margin-left: 1%;
  }
  .input-group{
    margin-top: 1%;
  }
  .email{
    margin-top: 1%;
    display: flex;
   
   
  }
  .email input{
    margin-left: 1%;
    width: 500px;
   
  }
  textarea{
    margin-top: 1%;
  }
  .link{
    text-align: end;
    margin-top: 1%;
  }
  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
  }
  
  .container button {
    background-color: #04AA6D;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 14px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .container button:hover {
    background-color: #039B60; 
  }
  
  .container button:active {
    background-color: #028C55; 
  }
  
  .container button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 170, 109, 0.5);
  }

.field{
  width: 1050px;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}


  /* .input-row {
    display: flex;
    align-items: center;
  }
   */
  /* .gender,
  .input-group,
  #dateofbirth {
    margin-right: 10px;
  } */
  
  #year,
  #month,
  #day {
    width: 50px; 
    margin: 5px;
  }